html {
  background-color: #c9b5ab;
  font-family: "PT Serif", serif;
  font-size: 0.8rem;
  line-height: 1.5;
  color: #222;
  font-weight: normal;
}

h1, h2 {
  color: #3f1622;
  font-weight: bolder;
}

h1, h2, nav {
  font-family: "PT Sans", sans-serif;
}

h1 {
  font-size: 1.5rem;
}

h2, nav, blockquote {
  font-size: 1.125rem;
}

.germination {
  font-size: 1.125rem;
  text-align: center;
  font-weight: bold;
}

nav ol li {
  list-style-type: none;
}

ol li {
  list-style-type: lower-greek;
}

ul li {
  list-style-type: circle;
}

img {
  width: 100%;
}

blockquote, figcaption {
  text-align: center;
  font-style: italic;
}

blockquote cite {
  font-size: 0.8rem;
}

dl dt {
  font-weight: bold;
}

a,
a:link {
  color:#8f2440;
  text-decoration: none;
}

a:hover {
  color: #3f1622;
  text-decoration: underline;
}
